{% extends 'base.html' %}

{% from "_formhelpers.html" import render_edit, render_combo %}

{% block headerjs %}
<script charset='utf-8' type='text/javascript'
  src='{{ url_for("static", filename="js/common.js") }}' ></script>
{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">TTabler</a>
        <ul class="nav">
           <li><a href="{{url_for("page_faculty")}}">Факультеты</a></li>
           
           <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Аудитории
                <b class="caret"></b>
               </a>
               <ul class="dropdown-menu">
                 <li><a href="{{url_for("page_building")}}">Корпусы</a></li>
                 <li><a href="{{url_for("page_capability")}}">Свойства аудиторий</a></li>
                 <li><a href="{{url_for("page_period")}}">Пары</a></li>
               </ul>
           </li>
            
           <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Занятия
                <b class="caret"></b>
               </a>
               <ul class="dropdown-menu">
                 <li><a href="{{url_for("page_subject")}}">Дисциплины</a></li>
                 <li><a href="{{url_for("page_lkind")}}">Типы занятий</a></li>
               </ul>
            </li>
            
            <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Расписания
                <b class="caret"></b>
               </a>
               <ul class="dropdown-menu">
                 <li><a href="{{url_for("page_curriculum")}}">Учебные поручения</a></li>
                 <li><a href="{{url_for("page_ttable_progress")}}">Строящееся расписание</a></li>
               </ul>
            </li>
        </ul>
        
        <ul class="nav pull-right">
          <li><a href="/ttabler_web/help">Помощь</a></li>
          <li><a href="#">Выход</a></li>
        </ul>
      </div>
    </div>
</div>
{% endblock navbar %}

{% block modals %}

{% block form_editor %}
<div class="modal hide" id="form-editor">
    <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>{{ form_editor_header }}</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
<fieldset>
{% block form_editor_fields %}
{% endblock %}
</fieldset>
    </form>
    </div>
    <div class="modal-footer">
    <a href="javascript:void(0)" class="btn btn-primary" id="btn-editor-save">Сохранить</a>
    <a href="javascript:void(0)" data-dismiss="modal" class="btn">Отменить</a>    
    </div>
</div>
{% endblock %}

{% block form_confirm %}
<div class="modal hide" id="form-confirm">
    <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Подтверждение</h3>
    </div>
    <div class="modal-body">
    	<div id="confirm-message"></div>
    </div>
    <div class="modal-footer">
    <a href="javascript:void(0)" class="btn btn-primary" id="btn-confirm-yes">Да</a>
    <a href="javascript:void(0)" data-dismiss="modal" class="btn">Нет</a>    
    </div>
</div>
{% endblock form_confirm %}

{% endblock modals %} 
    

{% block content %}

<header class="jumbotron subhead">
<h1>{{page_title}}</h1>

<div class="subnav">
<ul class="nav nav-pills">
{% block main_buttons %}
    <li><a id="btn-create" href="javascript:void(0)">Создать</a></li>
{% endblock %}
</ul>
</div>
 
</header>

{% block main_table %}
<table id="main-table" class="table table-striped">
	<thead>
		<tr>
		{% block main_table_header %}
			
		{% endblock %}
		</tr>
	</thead>
	<tbody id="main-table-body">
		<tr>
			<td colspan="{{ main_table_col_count }}">
				<img src='{{ url_for("static", filename="images/loader.gif") }}'
					 alt="Loading" />Loading...
			</td>
		</tr>
	</tbody>
</table>
{% endblock main_table %}

{% endblock content %}


{% block scripts %}

<script>
main_table_url = "{{main_table_url}}";
</script>

{% block main_table_empty_template %}
<script id="main-table-empty-template" type="text/x-jquery-template">
<tr>
  <td colspan="{{ main_table_col_count }}">Записи отсутствуют</td>
</tr>
</script>
{% endblock main_table_empty_template %}

{% block extra_scripts %}
{% endblock %}

{% endblock scripts %}
