{% extends 'tables/base.html' %}

{% set main_table_col_count = 8 %}
{% set main_table_url = url_for("ajax_ccunit_get") %}
{% set form_editor_header = "Учебное поручение" %}
{% block title %} Учебные поручения {%endblock%}

{% block main_table_header %}
<th>&nbsp;</th>
<th>Дисциплина</th>
<th>Тип</th>
<th>Преподаватель</th>
<th>Класс</th>
<th>Количество</th>
<th>Блок</th>
<th>&nbsp;</th>
{% endblock %}


{% block form_editor_fields %}
{{ render_combo("edit-subject", "Дисциплина") }}
{{ render_combo("edit-lkind", "Тип") }}
{{ render_combo("edit-teacher", "Преподаватель") }}
{{ render_combo("edit-class", "Класс") }}
{{ render_edit("edit-count", "Количество") }}
{{ render_edit("edit-block_size", "Блок") }}
{% endblock %}


{% block scripts %}
<script id="main-table-template" type="text/x-jquery-template">
<tr id="main-table-row-${id}" objectId="${id}">
{% raw %}
	<td>&nbsp;</td>
	<td>${ getForCombo("subject", subject_id) }</td>
  <td>${ getForCombo("lkind", lkind_id) }</td>
  <td>${ getForCombo("teacher", teacher_id) }</td>
  <td>${ getForCombo("class", class_id) }</td>
  <td>${ count }</td>
  <td>${ block_size }</td>
	<td>
		<a class="button" href="javascript:void(0)"
			onClick="itemEdit(${id})"><i class="icon-pencil"></i></a>
		<a class="button" href="javascript:void(0)"
			onClick="itemRemove(${id})"><i class="icon-remove"></i></a>
		<span width="24px">&nbsp;</span>
{% endraw %}
		<a class="button" href="{{url_for('page_group')}}?department_id=${id}"
			>Группы</a>
    <a class="button" href="{{url_for('page_teacher')}}?department_id=${id}"
      >Преподаватели</a>
	</td>
</tr>
</script>

<script>
  var combos = { 
		  {% for key, value in combos.iteritems() %}
          "{{ key }}": { 
              {% for id, title in value.iteritems() %}
                  "{{ id }}": "{{ title }}",        
              {% endfor %}
          },
      {% endfor %} };

  function getForCombo(objType, objId) {
	  var value = combos[objType];
	  if (value == undefined)
		  return "<?>";
		value = value[objId];
		if (value == undefined)
	      return "<?>";
	  return value;
  }
  
  function populateCombos() {
	  for (var objType in combos) {
		  var selectText = "";
		  var objCombo = combos[objType];
		  for (var key in objCombo) {
			  selectText += "<option value='" + key + "'>" + objCombo[key] + "</option>\n";
		  }
		  $("#edit-" + objType).append(selectText);	  
	  }
  }
	$(document).ready(populateCombos);
	  
  
	var ajaxParams = "?curriculum_id={{curriculum_id}}"
	var sampleFields = ["lkind_id", "subject_id"];
	
	function formEditorGetObject() {
		var currObject = {};
		for (var i = 0; i < sampleFields.length; ++i) {
			var fld = sampleFields[i];
			currObject[fld] = $("#edit-" + fld).attr("value");
		}
		currObject["curriculum_id"] = {{curriculum_id}};
		return currObject;
	}
	
	function formEditorFill(objectId) {
		var currObject = tableData[objectId]; 
		for (var i = 0; i < sampleFields.length; ++i) {
			var fld = sampleFields[i];
			$("#edit-" + fld).attr("value", currObject[fld]);
		}
	}
	function formEditorClear() {	
		for (var i = 0; i < sampleFields.length; ++i) {
			var fld = sampleFields[i];
			$("#edit-" + fld).attr("value", "");
		}
	}

	function getObjectName(objectId) {
		return "кафедру " + tableData[objectId].name;
	}
</script>
{% endblock %}