{% extends 'tables/base.html' %}

{% set main_table_col_count = 4 %}
{% set main_table_url = url_for("ajax_group_get") %}
{% set form_editor_header = "Группа" %}
{% set page_title = "Группы" %}

{% block main_table_header %}
<th>&nbsp;</th>
<th>Название</th>
<th>Число студентов</th>
<th>&nbsp;</th>
{% endblock %}


{% block form_editor_fields %}
{{ render_edit("edit-name", "Название") }}
{{ render_edit("edit-size", "Число студентов") }}
{% endblock %}


{% block extra_scripts %}
<script id="main-table-template" type="text/x-jquery-template">
<tr id="main-table-row-${id}" objectId="${id}">
{% raw %}
	<td>&nbsp;</td>
	<td>${ name }</td>
  <td>${ size }</td>
	<td>
		<a class="button" href="javascript:void(0)"
			onClick="itemEdit(${id})"><i class="icon-pencil"></i></a>
		<a class="button" href="javascript:void(0)"
			onClick="itemRemove(${id})"><i class="icon-remove"></i></a>
		<span width="24px">&nbsp;</span>
{% endraw %}
	</td>
</tr>
</script>

<script>
	var ajaxParams = "?department_id={{department_id}}"
	var sampleFields = ["name", "size"];
	
	function formEditorGetObject() {
		var currObject = {};
		for (var i = 0; i < sampleFields.length; ++i) {
			var fld = sampleFields[i];
			currObject[fld] = $("#edit-" + fld).attr("value");
		}
		currObject["department_id"] = {{department_id}};
		return currObject;
	}
	
	function formEditorFill(objectId) {
		var currObject = tableData[objectId]; 
		for (var i = 0; i < sampleFields.length; ++i) {
			var fld = sampleFields[i];
			$("#edit-" + fld).attr("value", currObject[fld]);
		}
	}
	function formEditorClear() {	
		for (var i = 0; i < sampleFields.length; ++i) {
			var fld = sampleFields[i];
			$("#edit-" + fld).attr("value", "");
		}
	}

	function getObjectName(objectId) {
		return "группу " + tableData[objectId].name;
	}
</script>
{% endblock %}