{% extends 'tables/base.html' %}

{% set main_table_col_count = 8 %}
{% set main_table_url = url_for("ajax_ttable_get") %}
{% set form_editor_header = "Расписание" %}
{% set page_title = "Расписания" %}

{% from "_formhelpers.html" import render_file %}

{% block main_buttons %}
    <li><a id="btn-create" href="javascript:void(0)">Создать</a></li>
{% endblock %} 


{% block main_table_header %}
<th>&nbsp;</th>
<th>Комментарий</th>
<th>&nbsp;</th>
{% endblock %}


{% block form_editor_fields %}
{{ render_edit("edit-comment", "Комментарий") }}
{% endblock %}


{% block scripts %}
<script id="main-table-template" type="text/x-jquery-template">
<tr id="main-table-row-${id}" objectId="${id}">
{% raw %}
	<td>&nbsp;</td>
    <td>${ comment }</td>
	<td>
		<a class="button" href="javascript:void(0)"
			onClick="itemEdit(${id})"><i class="icon-pencil"></i></a>
		<span width="24px">&nbsp;</span>
{% endraw %}
       <a class="button" 
         href="{{url_for('page_ttunit')}}?ttable_id=${id}">
        Подробнее</a>
	</td>
</tr>
</script>

<script>    
	var ajaxParams = "?curriculum_id={{curriculum_id}}"
	var sampleFields = ["comment"];
	var comboFields = [];

	function formEditorGetObject() {
		var currObject = {};
		for (var i = 0; i < sampleFields.length; ++i) {
			var fld = sampleFields[i];
			currObject[fld] = $("#edit-" + fld).attr("value");
		}
		for (var i = 0; i < comboFields.length; ++i) {
            var fld = comboFields[i];
            currObject[fld] = $("#edit-" + fld).attr("value");
        }
		currObject["curriculum_id"] = {{curriculum_id}};
		return currObject;
	}
	
	function formEditorFill(objectId) {
		var currObject = tableData[objectId]; 
		for (var i = 0; i < sampleFields.length; ++i) {
			var fld = sampleFields[i];
			$("#edit-" + fld).attr("value", currObject[fld]);
		}
		for (var i = 0; i < comboFields.length; ++i) {
            var fld = comboFields[i];
            $("#edit-" + fld + " [value=" + currObject[fld] + "]").attr("selected", "selected");
		}
	}
	function formEditorClear() {	
		for (var i = 0; i < sampleFields.length; ++i) {
			var fld = sampleFields[i];
			$("#edit-" + fld).attr("value", "");
		}
	}

	function getObjectName(objectId) {
		return "расписание " + tableData[objectId].name;
	}
</script>
{% endblock %}