{% extends 'tables/base.html' %}

{% block headerjs %}
{{ super() }}
<script charset='utf-8' type='text/javascript'
  src='{{ url_for("static", filename="js/ttunit.js") }}' ></script>
{% endblock %}

{% set main_table_col_count = 8 %}
{% set main_table_url = url_for("ajax_ttunit_get") %}
{% set form_editor_header = "Расписание" %}
{% set page_title = "Расписание" %}

{% from "_formhelpers.html" import render_file %}

{% block main_buttons %}
   <li><a id="btn-filter_teacher" href="javascript:void(0)" style="float: left;">Показать для</a>
   
   <select class="input"  id="edit-filter">
   </select>
   </li>

   <li><a id="btn-download-ttm" href="javascript:void(0)">TTM</a></li>
   <li><a id="btn-build-ttable" href="javascript:void(0)">Построить</a></li>
   <li><a id="btn-upload-ttable" href="javascript:void(0)">Закачать</a></li>
      
   <li>
	  <ul>
	   <li><a id="btn-report-class" href="javascript:void(0)">Отчет по группам</a></li>
	   <li><a id="btn-report-teacher" href="javascript:void(0)">Отчет по преподавателям</a></li>
	   </ul>
   </li>

   <li class="hide" id="id-show-report">
   <a id="btn-show-report" href="javascript:void(0)">Показать отчет</a></li>  
{% endblock %}


{% block main_table_header %}
<th>&nbsp;</th>
<th>Дисциплина</th>
<th>Тип</th>
<th id="thPartner">Субъект</th>
<th>Место</th>
<th>Время</th>
<th>&nbsp;</th>
{% endblock %}


{% block form_editor_fields %}
{{ render_combo("edit-room_id", "Аудитория") }}
{{ render_combo("edit-day", "День") }}
{{ render_combo("edit-period", "Пара") }}
{% endblock %}


{% block modals %}
{{ super() }}

<div class="modal hide" id="form-upload-ttable">
    <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Закачать расписание</h3>
    </div>
<form class="form-horizontal" enctype="multipart/form-data"
    method="POST" action="{{url_for("ttable_upload")}}">
    <div class="modal-body">

<fieldset>
  <div class="control-group">
{{render_file("ttable_file", "Файл")}}
<input type="hidden" name="ttable_id" value="{{ttable_id}}"> 
</div>
</fieldset>
    
    </div>
    <div class="modal-footer">
    <button href="javascript:void(0)" class="btn btn-primary" type="submit">Закачать</button>
    <a href="javascript:void(0)" data-dismiss="modal" class="btn">Отменить</a>    
    </div>
</form>
</div>
{% endblock %}


{% block content %}
{{ super() }}

<table id="tbl-selected-res" class="table table-striped hide">
<thead>
<th>&nbsp;</th>
<th>Название</th>
<th>Переместить</th>
</thead>
<tbody>

</tbody>
</table>
{% endblock %}


{% block extra_scripts %}

{% raw %}
<script id="main-table-template" type="text/x-jquery-template">
<tr id="main-table-row-${id}" objectId="${id}">
	<td>&nbsp;</td>
    <td>${ getForCcunitCombo("subject", ccunit_id) }</td>
    <td>${ getForCcunitCombo("lkind", ccunit_id) }</td>
    <td>${ getForCcunitCombo(currPartner, ccunit_id) }</td>
    <td>${ getForCombo("room", room_id) }</td>
    <td>${ getForDayPer(day_per) }</td>
  	<td>
		<a class="button" href="javascript:void(0)"
			onClick="itemEdit(${id})"><i class="icon-pencil"></i></a>
		<span width="24px">&nbsp;</span>
	</td>
</tr>
</script>

<script id="selected-res-template" type="text/x-jquery-template">
<tr id="row-selected-res-${id}" objectId="${id}">
  <td><input type="checkbox" /></td>
  <td>${ name }</td>
  <td>
    <a class="button up" href="javascript:void(0)">
      <i class="icon-arrow-up"></i></a>
    <a class="button down" href="javascript:void(0)">
      <i class="icon-arrow-down"></i></a>
  </td>
</tr>
</script>

<script id="selected-res-empty-template" type="text/x-jquery-template">
<tr>
  <td colspan="3">Записи отсутствуют</td>
</tr>
</script>
{% endraw %}

<script>
  var combos = { 
        {% for key, value in combos.iteritems() %}
        "{{ key }}": { 
            {% for id, title in value.iteritems() %}
                "{{ id }}": "{{ title }}",        
            {% endfor %}
        },
    {% endfor %}
  };
  
  var MAX_PERIOD = {{max_period}};
  var ttable_id = {{ttable_id}};
  var curriculum_id = {{curriculum_id}};
</script>
{% endblock extra_scripts %}